* {
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: #0d8584;
  background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Purple117/v4/ab/22/44/ab22447d-7b7b-26a3-fec8-a2f8399c6298/mzl.nnkcdmgj.png/1200x600wa.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#board {
  background-color: lightgray;
}

button {
  font-family: "MS Sans Serif";
  text-align: left;
  font-size: 14px;
  height: 30px;
  width: 100px;
  background-color: #bfbfbf;
  color: black;
  border-bottom: 2px solid #7b7b7b;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7b7b7b;
}

button:hover {
  background-color: lightgray;
  color: slategray;
  cursor: pointer;
}

#clock {
  font-family: "MS Sans Serif";
  font-size: 14px;
  display: inline;
  float: right;
  border-top: 1.5px solid #808080;
  border-left: 1.5px solid #808080;
  border-right: 1.5px solid #fafafa;
  border-bottom: 1.5px solid #fafafa;
  /* height: 28px; */
  width: 200px;
  height: 22px;
  margin: 2px;
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 80px 10px;
}
#footer {
  text-align: center;
  position: fixed;
  height: 36px;
  background-color: #bfbfbf;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.menu a {
  font-family: "MS Sans Serif";
  color: black;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0;
}

#reset {
  text-align: center;
  width: 68px;
  height: 35px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
  border-left: 2px solid #ffffff;
}
.green-text {
  color: green;
}
.red-text {
  color: red;
}

#reset:hover {
  text-align: center;
  cursor: pointer;
}

.sidebar {
  vertical-align: top;
  max-width: 300px;
  margin: 0 30px;
}

#size-btns {
  float: left;
  display: inline;
  margin: 2px;
}

#start {
  float: left;
}

.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  margin: 6px;
  border-top: 2px solid #7b7b7b;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #7b7b7b;
}

td {
  height: 22px !important;
  width: 22px !important;
  background-color: #c0c0c0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.timer,
.bomb-counter {
  font-family: "Digital Dismay";
  font-size: 35px;
  letter-spacing: 1px;
  color: red;
  background-color: black;
  text-align: center;
  padding: 4px 4px 0 7px;
  line-height: 1em;
}

.hidden {
  opacity: 0;
}

.cell-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  border: 1px solid #7b7b7b;
  padding: 8px;
  margin: 6px;
}
.mine {
  width: 22px;
  height: 22px;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  border: 1.5px solid;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  height: 38px;
  width: 68px;
  font-size: 17px; /* Adjust font size as needed */
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-board.container {
  background-color: #c0c0c0;
  border: 1.5px solid #ffffff;
  border-top-color: #ffffff;
  border-right-color: #7b7b7b;
  border-bottom-color: #7b7b7b;
  border-left-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.flag {
  background-image: url("https://img.itch.zone/aW1nLzExMzcwODYyLnBuZw==/original/M8TANS.png");
  background-size: 24px 20px;
}

.number-1 {
  color: blue;
}

.number-2 {
  color: green;
}

.number-3 {
  color: red;
}
.number-4 {
  color: darkblue;
}
.number-5 {
  color: darkred;
}
.number-6 {
  color: rgb(33, 150, 245);
}
.number-7 {
  color: black;
}
.number-8 {
  color: grey;
}

td.opened-cell {
  background-color: #b3aeae !important; /* Use !important to override any conflicting styles */
  /* Text color for opened cells */
}
button.play {
  background-color: green;
  color: white;
}

button.pause {
  background-color: red;
  color: white;
}

button.play:hover {
  background-color: lightgreen; /* Lighter color on hover */
  cursor: pointer;
}

button.pause:hover {
  background-color: lightcoral; /* Lighter color on hover */
  cursor: pointer;
}

#cell-list.hidden {
  display: none;
}

#cell-list:not(.hidden) {
  position: fixed;
  top: 0;
  right: 0;
  width: 180px; /* Adjust the width as needed */
  max-height: calc(100vh - 20px); /* Adjust the max height as needed */
  overflow-y: auto;
  background-color: #c0c0c0; /* Adjust the background color to match */
  padding: 8px;
  border: 1px solid #7b7b7b;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  scrollbar-width: thick; /* Adjust the scrollbar width as needed */
  scrollbar-color: #999 #c0c0c0; /* Adjust the scrollbar colors as needed */
}

#openedCellsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#openedCellsList li {
  font-family: 'Arial', sans-serif;
  font-size: 12px; /* Adjust the font size as needed */
  color: #333;
  padding: 4px 0;
  counter-increment: list-counter; 
}

#openedCellsList li:before {
  content: counter(list-counter) "."; /* Display the counter as content before each li */
  margin-right: 5px; /* Add some spacing between the counter and text */
}
.locked {
  background-color: lightgray;
  color: slategray;
}
/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 0; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#footer {
  text-align: right;
}

#howToPlayButton {
  margin-top: 4.5px;
  margin-right: 25px; 
}